<div>
  <% if user_signed_in? && current_user.id == @question.user_id %>
    <div>
      <ul>
        <li>
          <%= link_to '編集', "/questions/#{question.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/questions/#{question.id}", method: :delete %>
        </li>
      </ul>
    </div>
  <% end %>
  <%= simple_format(question.text) %>
  <span>
    <a href="/users/<%= @question.user.id %>"></a>
    <span>投稿者：</span><%= @question.user.nickname %>
  </span>
</div>