<div>
  <h4><%= @nickname %>さんの自己紹介</h4>
  <p><%= @introduction %></p>
  <h4><%= @nickname %>さんの質問一覧（<%= @q_count %>）</h4>
  <% @questions.each do |question| %>
    <div>
      <p>
        <%= question.text %>
      </p>
    </div>
  <% end %>
  <%= paginate(@questions) %>
</div>
<div>
  <h4><%= @nickname %>さんの回答一覧（<%= @a_count %>）</h4>
  <% @answars.each do |answar| %>
    <div>
      <p>
        <%= answar.text %>
      </p>
    </div>
  <% end %>
  <%= paginate(@answars) %>
</div>