<!DOCTYPE html>
<html>
<head>
  <title>Choice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <div class="header_bar">
      <h1><a href="/">Choice</a></h1>
    </div>
    <% if user_signed_in? %>
      <div>
      <span>
        <%= current_user.nickname %>
        <ul>
          <li>
            <a href="/users/<%= current_user.id %>">マイページ</a>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </span>
        <a href="/questions/new">投稿する</a>
      </div>
    <% else %>
      <div>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "新規登録", new_user_registration_path %>
      </div>
    <% end %>
  </header>
<%= yield %>

</body>
</html>
